html { font-family: monospace; }
a { display: block; float: left; clear: both; margin: 2px; padding: 0 0 0 30px; }
button { float: left; clear: right; border: none; background: none; cursor: pointer; }

.popup {
    position: fixed;
    font-size: 4em;
    padding-top: 80px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    pointer-events: none;
}
.popup.hide {
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 1s;
    opacity: 0;
}