<link rel="stylesheet" href="css/style.css" />
<pre>                                     
   ██████╗        ██████╗ 
   ██╔═══██╗      ██╔═══██╗
   ██║   ██║█████╗██║   ██║
   ██║   ██║╚════╝██║   ██║
   ╚██████╔╝      ╚██████╔╝
    ╚═════╝        ╚═════╝ 
</pre>
<a href="http://o-o.ie/a">o-o.ie/a</a>
<a href="http://o-o.ie/b">o-o.ie/b</a>
<a href="http://o-o.ie/c">o-o.ie/c</a>
<a href="http://o-o.ie/d">o-o.ie/d</a>
<a href="http://o-o.ie/e">o-o.ie/e</a>
<a href="http://o-o.ie/f">o-o.ie/f</a>
<script src="js/clippy.js"></script>